/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    
    color: #38003c;
    background: #04f5ff;;

}

* {
    font-family: Montserrat, sans-serif;
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    max-width: 60%;
    height: 450px;
    padding: 3rem;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: white;
    
}

#final-Score {
    margin-bottom: 0px;
}

.flex-center {
    display: flex;
    flex-direction: column;
}

.flex-column {
    justify-content: center;
    align-items: center;
}

.btn{
    font-size: 1.5rem;
    padding: 10px 0;
    width: 10rem;
    margin-bottom: 5px;
    text-align: center;
    background-color: #00ff85;
    border-radius: 5px;
    border: 2px solid;
    text-decoration: none;
    color: #38003c;
}
/* button to take you back to the start of the quizz */
.btn-startover {
    background-color: #e90052;
    color: #38003c
}
/* save button disabled until user inputs username */
.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* user input field */
input {
    margin-bottom: 2rem;
    width: 15rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #38003c;
    border-radius: 5px
}
/* end message after user completes quiz */
#end-text {
    font-size: 2.5rem;
    text-align: center;
}
/* Media query for screen of 840px and below */
@media screen and (max-width: 840px) {
    #end-text {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .container {
    
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid;
        border-radius: 20px;
        height: 500px;
        padding: 3rem;
        margin: 25px auto;
        background-color: white;
        
    }
    #end-text {
        font-size: 1.5rem;
        text-align: center;
    }

}

@media screen and (max-width: 400px) {
    #end-text {
        font-size: 1rem;
        text-align: center;
    }

    .container {
    
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid;
        border-radius: 20px;
        height: 400px;
        padding: 3rem;
        margin: 25px auto;
        background-color: white;
        
    }
}