@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    color:black;
    background: red;

}

.flex-center {
    display: flex;
    flex-direction: column;
}

.flex-column {
    justify-content: center;
    align-items: center;
}

.btn{
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 10rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    color: orange;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input {
    margin-bottom: 2rem;
    width: 15rem;
    padding: 0.5rem;
    font-size: 1rem;
}

#end-text {
    font-size: 2.5rem;
    text-align: center;
}