#question {
    font-size: 1.5rem;
    font-weight: heavy;
}

.choice-btn {
    display: flex;
    border-radius: 5px;
    border: 3px solid;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px 0;
    background: white;

}

/* hover effect to improve user visual experience */
.choice-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.choice-prefix {
    padding: 20px;
    align-items: center;

}

.choice-text {
    padding: 1rem;
    width: 60%;
    font-weight: bold;
}

/* Colors given to button when it returns green for correct answer or red for incorrect answer */
.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.flex-header {
    display: flex;
    justify-content: space-around;

}

/* Progress bar to help keep the user up to date with their progress */
#progressBar {
    width: 10rem;
    height: 2rem;
    border: 0.2rem solid #38003c;
    margin: 1rem;
    border-radius: 50px;
    overflow: hidden;
}

/* increments by 10% after each question is answered */
#progressBarFull {
    height: 100%;
    background: #38003c;
    width: 0%;
}

.head-display-prefix {
    text-align: center;
    font-size: 2rem;
}


.head-main-text {
    text-align: center;

}

/* Media query for screens of 400px and below */
@media screen and (max-width: 400px) {
    .head-display-prefix {
        text-align: center;
        font-size: 1rem;
    }

    .choice-btn {
        display: flex;
        border-radius: 5px;
        border: 3px solid;
        font-size: 1.3rem;

    }

}