@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: Monserrat, sans-serif;
}

body {
    background-color: #04f5ff;
}

#finalScore {
    text-decoration: underline;
}

/* Ranking of the top 3 score from the quiz */
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    max-width: 60%;
    height: 300px;
    padding: 3rem;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: white;
    color: #38003c;
    ;

}

.flex-center {

    display: flex;
    flex-direction: column;
}

.flex-column {
    justify-content: center;
    align-items: center;
}

.btn-home {
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 10rem;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    background-color: #00ff85;
    border: 2px solid;
}

.btn-home:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#highScoresList {
    list-style: none;
}

@media screen and (max-width: 400px) {
    .container {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid;
        border-radius: 20px;
        height: 300px;
        padding: 3rem;
        margin: 0 auto;
        background-color: white;
        color: #38003c;
        ;

    }
}