@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    color: black;
    background-image: linear-gradient( lightblue,purple); 
}

*{
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
}

#container {
    width: 80%;
    margin: 0 10% 0 10%;
}

#header-intro{
    padding:3rem;
    text-align: center;
}

#quiz-intro-content{
    color: grey;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

#quiz-start{
    padding: 3rem;
    text-align: center;
}

input[type = text]{
    display: inline-block;
    border: 1px solid #38003c;
    box-sizing: border-box;
    border-radius: 2px;
}

#start-btn{
    justify-content: center;
    display: flex;
    align-items: center;
}

#start{
    font-size: 25px;
    background-color: #04f5ff;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid;
    
}

#start:hover{
    background-color: #38003c;
}

h1 {
    text-align: center;
}

#quiz-section {
    background: white;
    color: black;
    text-align: center;
    width: 50%;
    margin: 0 auto 0 auto;
    height: 300px;
    padding-bottom: 30px;
    border-radius: 10px;
    padding: 2rem;
}

.multiple-choice-btn{
    font-size: 100%;
    margin: 1px auto 0 auto;
    border: 1px solid #99ff33;
    cursor: pointer;
    padding: 10px;
    border-radius: 60px;
    width: 70%;
}





