@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    
    font-weight: 200;
    color: black;
    background: linear-gradient(to bottom right, #ff9933, #d14545);
    
   
}

*{
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
   font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 3.4rem;
    text-align: center;
}

h3 {
    font-size: 150%;
    font-weight: bold;
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    max-width: 60%;
    height: 550px;
    padding: 3rem;
    margin: 0 auto;
    background-color: white;
    
}

.flex-center {
    display: flex;
    flex-direction: column;
}

.flex-column {
    justify-content: center;
    align-items: center;
}

.btn {

    font-size: 1.5rem;
    padding: 1rem 0;
    width: 10rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    color: orange;
    
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#scoreboard-btn{
    background-color: black;
}

